* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error {
  color: red;
}

.green {
  color: #82ae46;
}

.orange {
  color: #f0913d;
}

.salmon {
  color: #fa5b4f;
}