{% extends 'views/common.html' %}

{% block content %}

  <style type="text/css">
    td {
      padding: 0 15px;
    }
  </style>

  <hr/>

  <div class="container-xl">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for insertion in insertions %}
        <div class="col">
          <div class="card">
            <img src="test_image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{insertion.title}}</h5>
              <p class="card-text">Description: {{insertion.description}}</p>
              <p class="card-text">Expiration date: {{insertion.expiration_date}}</p>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary">Go to insertion page</button>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-outline-success">Buy now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}