{% extends 'user_auth/common.html' %} 
{% block content %}



  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="display-4 fw-bold lh-1 mb-3">e-Farmer Login form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>

      <div class="col-md-10 mx-auto col-lg-5">     
        <form class="p-4 p-md-5 border rounded-3 bg-light", action="" method="POST">
        {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <hr class="my-4">
          <small class="mt-5 mb-3 text-muted"> &copy; 2022-2023</small>

        </form>
      </div>
    </div>
  </div>
{% endblock %}