{% extends 'user_auth/common.html' %}

{% block content %}
  
   
   

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"> <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle"> </div>
                    <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                        <h5 class="mt-2 mb-0">
                            {{ page_user.user.first_name }}  {{ page_user.user.last_name }}
                        </h5> <span> Customer </span>
                        <div class="px-4 mt-1">
                            <p class="fonts">
                                A little bio description about urselfa. PITCH YOUR SAEAKLFASD
                                {{ page_user.bio }}
                                EMAIL : {{ page_user.user.email }} <br>
                                DATEOFBIRTHDAY :{{ page_user.date_of_birthday }} <br>
                                PHONE : {{ page_user.user.phone }} <br>
                                BILLING_ADDRESS : {{ page_user.billing_address }} <br>
                                SHIPPING_ADDRESS : {{ page_user.shipping_address }} <br>
                            </p>
                        </div>
                        <div class="buttons"> <button class="btn btn-outline-primary px-4">Message</button> <button class="btn btn-primary px-4 ms-3">Contact</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}