{% extends 'views/common.html' %}

{% block content %}

<br>

{% if can_add_new_boxes %}
    <div class="container-xl">
        <script type="text/javascript"> function redirect_to_add_boxes(insertion_id){ window.location.href = "/insertions/" + insertion_id + "/boxes/add/"; } </script>
        <button type="button" onclick="redirect_to_add_boxes(this.id)" class="btn btn-outline-primary" id="{{insertion.id}}">Add boxes</button>
    </div>
{% endif %}

<br>

<div class="container-xl">
    <script type="text/javascript"> function redirect_to_delete_insertion(insertion_id){ window.location.href = "/insertions/" + insertion_id + "/delete/"; } </script>
    <button type="button" onclick="redirect_to_delete_insertion(this.id)" class="btn btn-outline-danger" id="{{insertion.id}}">Delete insertion</button>
</div>

<br>

{% endblock %}