{% extends 'views/common.html' %}

{% block content %}

<br>

<div class="container-xl">
  <h1>Insertion</h1>
  <form action="/insertions/new/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in insertion_form %}
      <div class="mb-3">
        {{ field.errors }}
        <label> 
            {{ field.label_tag }}
        </label>
        <div>
            {{ field }}
        </div>
      </div>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</div>

<br>

<!--
<div class="container-xl">
    <form action="/insertions/manager/publish/" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" placeholder="Write your description here" id="description" name="description" style="height: 100px"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" id="image" accept="image/png, image/jpeg" name="image" />
        </div>
        <div class="mb-3">
            <label for="expiration_date" class="form-label">Expiration date</label>
            <input type="date" class="form-control" id="expiration_date" name="expiration_date" />
        </div>
        <div class="mb-3">
            <label for="gathering_location" class="form-label">Gathering location</label>
            <input type="text" class="form-control" id="gathering_location" name="gathering_location" />
        </div>
        {% for size in sizes %}
        <div class="input-group">
            <span class="input-group-text">Number of {{size}} boxes, weight and price</span>
            <input type="text" class="form-control" placeholder="Number of available {{size}} boxes" name="number_{{size}}_boxes">
            <input type="text" class="form-control" placeholder="Weight of each box (kg)" name="weight_{{size}}_boxes">
            <input type="text" class="form-control" placeholder="Price for each box (€)" name="price_{{size}}_boxes">
        </div>
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
-->

<!--
<form class="row g-3">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">First name</label>
      <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">City</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
      <div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">State</label>
      <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer05" class="form-label">Zip</label>
      <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
-->

{% endblock %}